@import "../../../common/mixins";

.container {
  position: relative;
  top: 5%;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;

  @include respond(tab-large-mobile) {
    top: 50%;
    transform: translateY(-50%);
    width: 70vw;
  }

  @include respond(tab-port) {
    width: 60vw;
  }
}

.attribiution {
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-size: 0.5rem;
  color: #777;
  text-decoration: none;
}
