@import "../../../common/variables";
@import "../../../common/mixins";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: space-evenly;
  align-items: center;

  @include respond(tab-large-mobile) {
    justify-content: center;
    row-gap: 2rem;
    margin-top: 0;
  }

  .title {
    font-family: "Mali";
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;

    @include respond(tab-large-mobile) {
      font-size: 2.5rem;
    }
  }

  .input {
    margin: 1;
    width: 35ch;

    @include respond(tab-large-mobile) {
      margin: 1;
      width: 50ch;
    }
  }
}
