@import "../../../common/mixins";

.container {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 90vw;

  @include respond(tab-land) {
    width: 70vw;
  }
}
