@import "../../../common/mixins";

.container {
  width: 100%;
  margin: auto;
  position: relative;

  &__list {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;

    @include respond(tab-large-mobile) {
      column-gap: 3rem;
      row-gap: 3rem;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    column-gap: 0.5rem;

    @include respond(tab-large-mobile) {
      column-gap: 1.5rem;
      margin-bottom: 5rem;
    }

    &__title {
      font-size: 2rem;

      @include respond(tab-port-mobile) {
        font-size: 3rem;
      }
    }
  }
}

.attribiution {
  position: absolute;
  bottom: 0;
  right: 1%;
  font-size: 0.5rem;
  color: #777;
}
