@import "../../../../common/mixins";
@import "../../../../common/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  cursor: pointer;

  .image {
    width: 7rem;
    height: 7rem;
    background-size: contain;

    @include respond(tab-large-mobile) {
      width: 10rem;
      height: 10rem;
    }

    @include respond(tab-port) {
      width: 12rem;
      height: 12rem;
    }
  }

  .name {
    font-size: 1.1rem;
    margin: 0;

    @include respond(tab-large-mobile) {
      font-size: 1.3rem;
    }

    @include respond(tab-port) {
      font-size: 1.5rem;
    }
  }
}

.border {
  border: 1px solid $light-gray;
  padding: 1rem 1.5rem;
  transition: border 0.2s ease-out;

  &:hover {
    border-color: #999;
  }
}
