.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: "appBar" "content";

  .content {
    grid-area: "content";
  }
}
