.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "appBar" "content";
  overflow-x: hidden;

  .content {
    position: relative;
    grid-area: "content";
    height: auto;
  }
}
