@import "../../../../common/variables";
@import "../../../../common/mixins";

.container {
  background: $light-green;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  color: black;
  font-size: 1.1rem;
  max-width: 70%;
  overflow-wrap: break-word;
  list-style: none;
  white-space: pre-wrap;

  @include respond(tab-large-mobile) {
    font-size: 1.2rem;
  }
}

.authorMe {
  align-self: flex-end;
}

.authorYou {
  background: $light-gray;
  align-self: flex-start;
}
