@import "../../../../../common/mixins";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  @include z-index(modal);

  @include respond(tab-port) {
    width: 40vw;
  }

  .title {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;

    @include respond(tab-large-mobile) {
      font-size: 2rem;
    }
  }

  button {
    align-self: center;
  }
}
