@import "../../../common/variables";
@import "../../../common/mixins";

.nameContainer {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;

  .budgetName {
    margin: 0;
    text-align: center;
    font-size: 3rem;
  }
}

.container {
  display: grid;
  grid-template-areas: "progress expenses";
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow-y: auto;

  .progress {
    grid-area: progress;
    justify-content: center;
    align-items: center;

    &__textValue {
      font-size: 3rem;
    }

    &__textProcent {
      font-size: 1.5rem;
      color: $gray;
    }
  }

  .expenses {
    position: relative;
    height: 100%;
    grid-area: expenses;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid $light-gray;
    padding: 0 2rem;
    overflow-y: auto;
    align-self: flex-start;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      overflow: auto;
      padding-right: 2rem;
    }

    &__title {
      font-size: 2rem;
    }
  }
}
