.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .image {
    width: 12rem;
    height: 12rem;
    background-size: contain;
  }

  .name {
    font-size: 1.5rem;
  }
}
