@import "../../../common/variables";
@import "../../../common/mixins";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: space-evenly;
  align-items: center;

  @include respond(tab-large-mobile) {
    justify-content: center;
    row-gap: 2rem;
    margin-top: 0;
  }

  .title {
    font-family: "Mali";
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;

    @include respond(tab-large-mobile) {
      font-size: 2.5rem;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;

    .input {
      margin: 1;
      width: 35ch;

      @include respond(tab-large-mobile) {
        margin: 1;
        width: 50ch;
      }
    }
  }

  .forgotPassword {
    display: block;
    margin: 0.5rem 0;
    color: $gray;
    font-size: 0.8rem;

    @include respond(tab-large-mobile) {
      font-size: 1rem;
    }
  }

  .changeAuth {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%);

    & > * {
      font-family: "Open Sans";
      margin: 0;
      font-size: 0.9rem;
      text-align: center;

      @include respond(tab-large-mobile) {
        font-size: 1rem;
      }
    }

    &__label {
      color: $gray;
    }

    &__link {
      color: $main-green;
    }
  }
}
