@import "../../../common/mixins";
@import "../../../common/variables";

.container {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 50% 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "left" "right";
  row-gap: 1rem;

  @include respond(tab-port) {
    row-gap: 0;
    column-gap: 1rem;
    min-height: 100%;

    grid-template-rows: 1fr;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "left right";
  }

  &__left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    position: relative;
    width: 90%;
    margin: 0 auto;

    @include respond(tab-port) {
      padding: 0 2rem;
      margin-bottom: 1rem;
      border-bottom: none;
      border-right: 1px solid $light-gray;
    }

    .title {
      font-family: "Mali";
      margin: 0;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2rem;
      text-align: center;

      @include respond(tab-large-mobile) {
        font-size: 2.5rem;
      }
    }

    .photo {
      height: 10rem;

      @include respond(tab-port) {
        height: 15rem;
      }
    }

    .input {
      width: 30ch;

      @include respond(tab-large-mobile) {
        width: 40ch;
      }

      @include respond(tab-port) {
        width: 45ch;
      }
    }
  }

  &__right {
    grid-area: right;
    position: relative;
    padding-bottom: 1rem;
  }
}
